{% include 'incl/header.html.twig' %}
<title>Search</title>

<body>
    {% include 'incl/nav.html.twig' %}

<div class="content">

<form method="post">
    <fieldset>
    <legend>A dice hand</legend>

    <p>
        <input type="submit" name="roll" value="Roll">
        <input type="submit" name="add" value="Add">
        <input type="submit" name="clear" value="Clear">
    </p>

    {{ include('block/flash-message.html.twig') }}

    </fieldset>
</form>
</div>

{% include 'incl/footer.html.twig' %}

</body>
</html>
