
<footer>
    <div class="footer-content">
        © 2022 by Sandra Karlsson
        <a class ="ex2" href="https://dbwebb.se/kurser/mvc-v2">Objektorienterade webbteknologier</a>
        <a class ="ex2" href="https://symfony.com/">Symfony</a>
    </div>
</footer>
