{% include 'incl/header.html.twig' %}
<title>Deck</title>
<body>
    {% include 'incl/nav.html.twig' %}

    <div class="content-cards">

        <h1>Deck with 2 jokers</h1>

<p>
Cards = {{ deck_cards }}
</p>

{{ response }}
    </div>


{% include 'incl/footer.html.twig' %}

</body>
</html>