{% include 'incl/header.html.twig' %}
<title>Övningar</title>
<body>
    {% include 'incl/nav.html.twig' %}

<div class="content">
    <h2>Övningar</h2>

    <a href="{{ path("form-search") }}">Search</a>
    <a href="{{ path("form-login") }}">Login</a>
    <a href="{{ path("form-session") }}">Session</a>
    <a href="{{ path("dice-home") }}">Dice</a>
</div>


{% include 'incl/footer.html.twig' %}

</body>

</html>