{# templates/login.html.twig #}
{% include 'incl/header.html.twig' %}
<title>Login</title>

<body>
    {% include 'incl/nav.html.twig' %}

<div class="content">

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<form method="post">
    <fieldset>
    <legend>A login form</legend>
    <p>
        <label>User:
            <input type="text" name="user" value="">
        </label>
    </p>
    <p>
        <label>Password:
            <input type="password" name="pwd" value="">
        </label>
    </p>
    <p>
        <input type="submit" value="Login">
    </p>
    </fieldset>
</form>

</div>

{% include 'incl/footer.html.twig' %}

</body>
</html>
