{# templates/about.html.twig #}
{% include 'incl/header.html.twig' %}
<title>About</title>
<body>
    {% include 'incl/nav.html.twig' %}

<div class="content">
    <img src="images/bthlogo.png" width="200px" alt="Bth logga"/>
        <h2>Objektorienterade webbteknologier</h2>
        <p>Kursen Objektorienterade webbteknologier, a.k.a. mvc, genomförs våren 2022 på Blekinge Tekniska Högskola.
        Kursen fokuserar på objektorienterade programmeringstekniker i programmeringsspråket PHP. 
        Klassiska objektorienterade konstruktioner hanteras tillsammans med objektorienterad 
        programmering i webbaserat ramverk tillsammans med databaser samt enhetstestning.</p>

    <h3>Kursens innehåll:</h3>
    <ul>
        <li>Programmering i webbmiljö, syntax, semantik, koppling mot databaser, datastrukturer och inbyggda funktioner.</li>
        <li>Objektorienterad programmering i PHP med språkkonstruktioner och begrepp. Objektorientering som sätt att strukturera och återanvända kod. Enkla designmönster.</li>
        <li>SQL med en databas tillsammans med PHP Data Objects.</li>
        <li>Utveckling av webbapplikationer i ett ramverk där tekniker såsom webbserver (Apache), PHP, HTML, CSS, och SQL integreras tillsammans med ett webbaserat ramverk.</li>
        <li>Användning av verktyg och tekniker som lämpar sig för utveckling av webbapplikationer, tex UNIX/Linux, installation på extern webbserver, ssh, ftp/sftp, databasklienter såsom PHPMyAdmin, MySQL Workbench och kommandoklienter.</li>
    </ul></p>

    <h3>Kursens Git-repo:</h3>
        <a href="https://github.com/dbwebb-se/mvc">Github</a>
</div>


{% include 'incl/footer.html.twig' %}

</body>

</html>
