{# templates/index.html.twig #}
{% include 'incl/header.html.twig' %}
<title>Index</title>
<body>
    {% include 'incl/nav.html.twig' %}

    <div class="content">
    <img src="images/me2.png" width="200px" alt="Bild på mig"/>
        <h1>Hej,</h1>
        <h2>Lite om mig:</h2>
        <p>
        Mitt namn är Sandra Karlsson. Född och uppvuxen i Linköping.
        Bor sedan några år tillbaka i en villa i Björsäter, en liten ort på landsbygden utanför Åtvidaberg.
        Bor här med sambo och två barn på 9 och 6 år.
        Fritiden går åt till familjen, men när jag har tid över gillar jag att läsa böcker, spela tv-spel 
        och pyssla med diverse husprojekt.
        Vi hörs!</p>

    </div>


{% include 'incl/footer.html.twig' %}

</body>

</html>
