{# templates/report.html.twig #}
{% include 'incl/header.html.twig' %}
<title>Report</title>
<body>
    {% include 'incl/nav.html.twig' %}
<div class="content">

{% apply markdown_to_html %}
Report
======

{% endapply %}

{{ include('report/kmom01.markdown.twig')|markdown_to_html }}

</div>

{% include 'incl/footer.html.twig' %}

</body>

</html>
